<div class="location" style="position: static !important;">
    <div class="row" id="udcToolbar"> </div>
    <div class="save_size"> </div>
</div>
<div style="width: 100%;" class="tableItemContainer location" >
    <div class="overflow overflow-block">
        <table id="udcControl" class="table allowContextMenu notextselect" style="table-layout: fixed; position: relative;">
            <thead id="udcControlHeader"></thead>
            <tbody id="udcControlBody"></tbody>
        </table>
    </div>
</div>
<div class="location">
    <div id="udcConfigBar" class="paging panel-sorting loc-right">
        <span>{{ trans('js-label-elements-per-page') }}</span>
        <a class="per_page_limit current">10</a>
        <a class="per_page_limit">20</a>
        <a class="per_page_limit">50</a>
        <a class="per_page_limit">100</a>
    </div>
</div>
